<%- include('../includes/top-section.ejs') %>
    <main class="centered">
        <div class="details-wrapper">
            <h3>Book Details</h3>
            <p>Name: <%= book.name %></p>
            <p>Author: <%= book.author %></p>
            <p>Year: <%= book.year %></p>
            <p>Short Description: <%= book.description %></p>
        </div>
    </main>
<%- include('../includes/bottom-section.ejs') %>